/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Bitter);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----

STYLES

------*/
a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  text-align: left; }

body {
  background-color: purple; }
  body h1 {
    text-align: center;
    color: white;
    font-family: 'Bitter', serif;
    font-weight: 100;
    transition: all 0.5s ease; }
    @media only screen and (min-width: 600px) {
      body h1 {
        font-size: 40px; } }
    @media only screen and (min-width: 1000px) {
      body h1 {
        font-size: 72px; } }
    body h1:hover {
      color: #1a1a1a;
      transition: all 0.5s ease;
      font-size: 40px; }

/* HEADER */
header {
  padding: 30 px;
  border: 1px solid white; }
  header h2 {
    font-family: 'Bitter', serif;
    text-align: center;
    padding: 30px;
    background-color: #ff80ff; }
    @media only screen and (min-width: 600px) {
      header h2 {
        font-size: 40px; } }
    @media only screen and (min-width: 1000px) {
      header h2 {
        font-size: 50px; } }
    header h2:hover {
      color: #cccccc;
      transition: all 0.5s ease;
      font-size: 40px; }

form {
  font-family: 'Bitter', serif;
  text-align: center;
  padding: 30px;
  background-color: #72438e; }

button {
  font-family: 'Bitter', serif;
  font-weight: 100;
  text-align: center;
  padding: 10px; }

li {
  font-family: 'Bitter', serif;
  font-weight: 100;
  padding: 10px; }
  li span {
    background-color: lightblue;
    padding: 1px; }
  li div {
    background-color: red;
    padding: 2px; }
  li button {
    padding: 1px;
    border-color: green;
    font-weight: 70;
    background-color: yellow; }
