/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Pacifico);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----

STYLES

------*/
body {
  background-image: url("shopping.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  body h1 {
    text-align: center;
    color: #f0cfdd;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    font-weight: 50;
    transition: all 0.5s ease; }
    @media only screen and (min-width: 600px) {
      body h1 {
        font-size: 40px; } }
    @media only screen and (min-width: 1000px) {
      body h1 {
        font-size: 72px; } }
    body h1:hover {
      color: #912f59;
      transition: all 0.5s ease;
      font-size: 40px; }

/* HEADER */
header {
  padding: 30 px;
  border: 2px RGBA(122, 113, 168, 0.8);
  background-color: RGBA(122, 113, 168, 0.8);
  max-width: 700px;
  margin: auto; }
  header h2 {
    max-width: 400px;
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align: center;
    padding: 15px; }
    @media only screen and (min-width: 600px) {
      header h2 {
        font-size: 20px; } }
    @media only screen and (min-width: 1000px) {
      header h2 {
        max-height: 100px;
        font-size: 20px; } }
    header h2:hover {
      color: #2c2130;
      transition: all 0.5s ease;
      font-size: 23px; }

form {
  font-family: 'Pacifico', cursive;
  text-align: center;
  max-width: 500px;
  margin: auto;
  font-size: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: flex-end;
  flex-direction: column;
  line-height: 20px;
  display: flex; }
  @media only screen and (min-width: 600px) {
    form {
      line-height: 20px;
      display: flex; } }
  @media only screen and (min-width: 1000px) {
    form {
      display: flex; } }

#titleBlock {
  order: 1;
  flex: 1 1 auto;
  color: black;
  background-color: RGBA(122, 113, 168, 0.8); }
  @media only screen and (min-width: 600px) {
    #titleBlock {
      order: 1;
      flex: 0 0 auto;
      color: black;
      background-color: RGBA(122, 113, 168, 0.8); } }
  @media only screen and (min-width: 1000px) {
    #titleBlock {
      order: 1;
      flex: 1 1 auto;
      color: black;
      background-color: RGBA(122, 113, 168, 0.8); } }

#descriptionBlock {
  order: 1;
  flex: 1 1 auto;
  color: black;
  background-color: RGBA(122, 113, 168, 0.8); }
  @media only screen and (min-width: 600px) {
    #descriptionBlock {
      order: 1;
      flex: 0 0 auto;
      color: black;
      background-color: RGBA(122, 113, 168, 0.8); } }
  @media only screen and (min-width: 1000px) {
    #descriptionBlock {
      order: 1;
      flex: 1 1 auto;
      color: black;
      background-color: RGBA(122, 113, 168, 0.8); } }

#title {
  max-width: 200px; }
  @media only screen and (min-width: 600px) {
    #title {
      max-width: 400px; } }
  @media only screen and (min-width: 1000px) {
    #title {
      max-width: 400px; } }

#description {
  max-width: 200px; }
  @media only screen and (min-width: 600px) {
    #description {
      max-width: 400px; } }
  @media only screen and (min-width: 1000px) {
    #description {
      max-width: 400px; } }

#addToShoppingListButton {
  text-align: center;
  max-width: 500px;
  margin: auto; }
  #addToShoppingListButton #add_shopping_list_item_button {
    font-family: 'Pacifico', cursive;
    text-align: center;
    max-width: 300px;
    margin: auto;
    background-color: #E3A9C2;
    font-size: 15px;
    padding: 5px; }

ul {
  text-align: center;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

li {
  display: flex;
  align-items: space-around;
  font-family: 'Pacifico', cursive;
  font-size: 20px; }
  li div {
    order: 1;
    flex: 0 1 10%; }
  li #titleSpan {
    order: 2;
    flex: 0 1 40%; }
  li #descriptionSpan {
    order: 3;
    flex: 0 1 40%; }
  li #delete {
    order: 4;
    flex: 0 1 20%;
    max-height: 20px;
    max-width: 20px; }
